<div class="card-fondo">
    <div class="card">
        Pelicula-foto
    </div>
    <div class="card">
        Pelicula-foto
    </div>
    <div class="card">
        Pelicula-foto
    </div>
    <div class="card">
        Pelicula-foto
    </div>
    <div class="card">
        Pelicula-foto
    </div>
    <div class="card">
        Pelicula-foto
    </div>
    <div class="card">
        Pelicula-foto
    </div>
    <div class="card">
        Pelicula-foto
    </div>
    <div class="card">
        Pelicula-foto
    </div>
    <div class="card">
        Pelicula-foto
    </div>
    <div class="card">
        Pelicula-foto
    </div>
    <div class="card">
        Pelicula-foto
    </div>
    <div class="card">
        Pelicula-foto
    </div>
    <div class="card">
        Pelicula-foto
    </div>
    <div class="card">
        Pelicula-foto
    </div>
    <div class="card">
        Pelicula-foto
    </div>
    <div class="card">
        Pelicula-foto
    </div>
    <div class="card">
        Pelicula-foto
    </div>
    <div class="card">
        Pelicula-foto
    </div>
</div>
